<% include partials/header %>

<h1>This is the campgrounds page.</h1>
<a href="/campgrounds/new">Add a New Campground</a>
<% campgrounds_key.forEach((campgrounds_value) => { %>
 <div>
     <h4><%= campgrounds_value.name %></h4>
     <img src="<%= campgrounds_value.image %>"> 
 </div>
<% }); %>
<% include partials/footer %>
