<% include partials/header %>
 

<div class="container">
  <header class="jumbotron">
    <div class="container">
      <h1>Yelp Camp</h1>
      <p>These are handpicked campgrounds from all over the world</p>
      <p><a class="btn btn-primary btn-lg" href="/campgrounds/new">Add a New Campground</a></p>
  </div>
  </header>

  <div class="row text-center" style="display:flex; flex-wrap: wrap;">
    <% campgrounds_key.forEach((campgrounds_value) => { %>
      <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
          <img src="<%= campgrounds_value.image %>"> 
          <div class="caption">       
          <h4><%= campgrounds_value.name %></h4>
       </div>
    </div>
</div>
    <% }); %>
  </div>
</div>




    
<% include partials/footer %>
